<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="local.config"> 	
		<!-- Any settings in local.config supplement/override these -->
		<add key="NeatUpload.MaxNormalRequestLength" value="4096" />
		<add key="NeatUpload.MaxRequestLength" value="10000000" />
		<add key="NeatUpload.DefaultTempDirectory" value="NeatUploadTemp" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
		<httpRuntime maxRequestLength="10000000" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
		
		 <trace
			enabled="false"
			requestLimit="5000"
			pageOutput="true"
			traceMode="SortByTime"
			localOnly="false">
		</trace>
		<httpModules>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" />
		</httpModules>
		<customErrors mode="On">
			<error statusCode="413" redirect="~/NeatUpload/Error413.aspx" />
		</customErrors>
	</system.web>
</configuration>
