<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<remove name="neatUpload" />
			<section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true" />
		</sectionGroup>
	</configSections>
<!--
	<appSettings file="local.config"> 	
		<add key="NeatUpload.MaxNormalRequestLength" value="4096" />
		<add key="NeatUpload.MaxRequestLength" value="2097151" />
		<add key="NeatUpload.DefaultTempDirectory" value="NeatUploadTemp" />
	</appSettings>
-->
	<system.web>
		<compilation debug="true" />
		<trace
			enabled="false"
			requestLimit="5000"
			pageOutput="true"
			traceMode="SortByTime"
			localOnly="false">
		</trace>
		<httpRuntime useFullyQualifiedRedirectUrl="true" />
		<httpModules>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" />
		</httpModules>
		<customErrors mode="On">
			<error statusCode="413" redirect="~/NeatUpload/Error413.aspx" />
		</customErrors>
		<neatUpload useHttpModule="false" maxNormalRequestLength="4096" maxRequestLength="2097151" defaultTempDirectory="NeatUploadTemp" />
	</system.web>
	<location path="Demo.aspx">
		<system.web>
			<neatUpload useHttpModule="true" />
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
		</system.web>
	</location>
</configuration>
