<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="neatUpload" allowLocation="true" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" />
    </configSections>
    <!-- Use the HashingFilesystemUploadStorageProvider in this directory. -->
    <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008" defaultStorageProvider="HashingFilesystemUploadStorageProvider">
        <providers>
            <add name="HashingFilesystemUploadStorageProvider" type="Brettle.Web.NeatUpload.HashingFilesystemUploadStorageProvider, Brettle.Web.NeatUpload.HashedInputFile" />
        </providers>
    </neatUpload>
</configuration>