<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<neatUpload defaultProvider="HashingFilesystemUploadStorageProvider">
			<providers>
				<add name="HashingFilesystemUploadStorageProvider" 
					type="Brettle.Web.NeatUpload.HashingFilesystemUploadStorageProvider, Brettle.Web.NeatUpload.HashedInputFile" 
					/>
			</providers>
		</neatUpload>
	</system.web>
	<location path="HashedDemo.aspx" >
		<system.web>
			<neatUpload useHttpModule="true" />
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
		</system.web>
	</location>
</configuration>
