<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008" 
        multiRequestUploadHandlerUrl="~/Brettle.Web.NeatUpload/tests/tricky/MultiRequestUploadHandler.ashx"
        defaultStateStoreProvider="sessionBased">
        <providers>
            <add name="sessionBased" type="Brettle.Web.NeatUpload.SessionBasedUploadStateStoreProvider, Brettle.Web.NeatUpload" />
        </providers>
    </neatUpload>
</configuration>
