<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<neatUpload useHttpModule="false" />
		<httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
	</system.web>
	<location path="MultiRequestUploadHandler.ashx">
		<system.web>
			<neatUpload useHttpModule="true" />
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
		</system.web>
	</location>
</configuration>
