<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
  </configSections>
  <location path="MultiRequestUploadHandler.ashx">
    <system.web>
      <httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
    </system.web>
  </location>
</configuration>
