<?xml version="1.0"?>
<configuration>
    <system.web>
        <!-- Always required to use any of NeatUpload's features.  Without it,
             ProgressBars won't display and MultiFile will look like a regular 
             HtmlInputFile. -->
        <httpModules>
            <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>
        </httpModules>
        
        <!-- Set these next 2 attributes large enough to accomodate the largest and 
             longest running upload you want to support.  Note that browsers and
             IIS typically don't support uploads larger than 2GB (2097151 KB). -->
        <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
        
        <!-- Not required for NeatUpload but makes it easier to debug in VS. -->
        <compilation debug="true"/>
    </system.web>
    
    <!-- For IIS7's Integrated Pipeline Mode which is used by the DefaultAppPool. -->
    <system.webServer>
        <modules>
            <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" preCondition="managedHandler"/>
        </modules>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
</configuration>
