<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- Under .NET 2.0, use this instead:
			<section name="neatUpload" requirePermission="false" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true" />
-->
		<section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
	</configSections>
	<system.web>
		<!--
		<trust level="Medium" />
-->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<trace enabled="false" requestLimit="5000" pageOutput="true" traceMode="SortByTime" localOnly="false"/>
		<httpRuntime useFullyQualifiedRedirectUrl="true"/>
		<httpModules>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>
		</httpModules>
		<customErrors mode="Off">
			<error statusCode="413" redirect="~/NeatUpload/Error413.aspx"/>
		</customErrors>
		<!--
    <sessionState mode="InProc" cookieless="true" stateConnectionString="tcpip=127.0.0.1:42424"/>
		<sessionState mode="StateServer" cookieless="false" stateConnectionString="tcpip=127.0.0.1:42424"/>
		-->
	</system.web>
	<neatUpload xmlns="http://www.brettle.com/neatupload/config/2008"
	    useHttpModule="false" 
	    maxNormalRequestLength="4096" 
	    maxRequestLength="2097151"
	    defaultStorageProvider="FilesystemUploadStorageProvider" 
	    defaultStateStoreProvider="SessionBasedUploadStateStoreProvider">
		<providers>
			<add name="FilesystemUploadStorageProvider" type="Brettle.Web.NeatUpload.FilesystemUploadStorageProvider, Brettle.Web.NeatUpload"/>
			<add name="SessionBasedUploadStateStoreProvider" type="Brettle.Web.NeatUpload.SessionBasedUploadStateStoreProvider, Brettle.Web.NeatUpload"/>
		</providers>
	</neatUpload>
	<location path="Brettle.Web.NeatUpload/Demo.aspx">
		<system.web>
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true"/>
		</system.web>
	</location>
	<location path="Brettle.Web.NeatUpload/Demo.aspx">
		<neatUpload useHttpModule="true" xmlns="http://www.brettle.com/neatupload/config/2008"/>
	</location>
	<system.webServer>
		<modules>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" preCondition="managedHandler"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<!--
	<appSettings>
	  <add key="NeatUpload.Logger" value="ConsoleLogger"/>
	</appSettings>
-->
</configuration>
