<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
	Before using the DBWrite.aspx demo in this directory:
	1. Setup your database as described in the docs\Manual.html.
	2. Make sure the connection strings in this file match the connection string for your DB.
-->
	<system.web>
		<neatUpload useHttpModule="true" defaultProvider="dbUploader">
			<providers>
				<add name="dbUploader" 
					type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader"
					connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" 
					tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial"/>

<!--        			
				Below are two other ways configure the SqlServerUploadStorageProvider.  To use
				either of these, you need to uncomment the <connectionStrings> element near the 
				top of this file and make sure the connection strings are correct for your
				database.
				<add name="dbVerboseUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionName="default" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
				<add name="dbProcUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionName="default" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
-->
			</providers>
		</neatUpload>
	</system.web>
<!--
	If you are using .NET 2.0, you can use the connectionStrings section to name your connectionStrings
	and then use the connectionName attribute instead of the connectionString attribute when you add
	the SqlServerUploadStorageProvider in the neatUpload section.
	<connectionStrings>
		<add connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" name="local_default"/>
		<add connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" name="default"/>
	</connectionStrings>
-->
	<location path="DBWrite.aspx" >
		<system.web>
			<neatUpload useHttpModule="true" />
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
		</system.web>
	</location>
</configuration>
