<?xml version="1.0"?>
<configuration>
	<!--
           If you are using .NET 2.0, you can use the connectionStrings section to name your connectionStrings
           and then use the connectionName attribute instead of the connectionString attribute when you add
           the SqlServerUploadStorageProvider in the neatUpload section.
	<connectionStrings>
		<add connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" name="local_default"/>
		<add connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" name="default"/>
	</connectionStrings>
  -->
   <system.web>
		<!--
        NeatUpload configuration
        This section is optional if you use default settings
        
        useHttpModule="true or false, defaults to true"
        maxNormalRequestLength="up to 2097151 in KBytes, defaults to 4096"
        maxRequestLength="up to 2097151 in KBytes, defaults to 2097151"
        postBackIDQueryParam="parameter name, defaults to NeatUpload_PostBackID"
        defaultProvider="friendly name, defaults to a FilesystemUploadStorageProvider using the system temp dir">
        -->
		<neatUpload defaultProvider="dbUploader">
			<providers>
				<add name="dbUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionString="Server=.;Database=FileStorageTest;Trusted_Connection=True;" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial"/>
        <!--
				<add name="dbVerboseUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionName="default" tableName="FileTable" dataColumnName="DataField" partialFlagColumnName="Partial" fileNameColumnName="FileName" mimeTypeColumnName="MIMEType" hashAlgorithm="SHA1" hashColumnName="FileHash"/>
				<add name="dbProcUploader" type="Hitone.Web.SqlServerUploader.SqlServerUploadStorageProvider, Hitone.Web.SqlServerUploader" connectionName="default" createProcedure="CreateBlob" openProcedure="OpenBlob" readProcedure="ReadBlob" writeProcedure="WriteBlob" deleteProcedure="DeleteBlob" cleanupProcedure="CleanUpBlob" renameProcedure="RenameBlob" storeHashProcedure="FinalizeBlob" hashAlgorithm="MD5"/>
        -->
			</providers>
		</neatUpload>
	</system.web>
</configuration>
