<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="neatUpload" allowLocation="true" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" />
    </configSections>
    <!-- Don't use NeatUpload's UploadHttpModule unless a location element
         or lower level Web.config says so.  When it is used allow upload 
         requests as large as 2GB, but reject requests where the non-upload 
         portion is more than 4MB. -->
    <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008" useHttpModule="false" maxRequestLength="2097151" maxNormalRequestLength="4096" />
    <!-- Use NeatUpload's UploadHttpModule for Demo.aspx. -->
    <location path="Demo.aspx">
        <neatUpload useHttpModule="true" xmlns="http://www.brettle.com/neatupload/config/2008" />
    </location>
</configuration>