<?xml version="1.0"?>
<configuration>
    <!-- Use NeatUpload's UploadHttpModule for all test pages except 
         WithoutNeatUpload.aspx. -->
    <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008" useHttpModule="true">
    </neatUpload>
    <location path="WithoutNeatUpload.aspx">
        <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008" useHttpModule="false" />
    </location>
</configuration>