<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
        <httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true" />
    </system.web>
    <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008"
            useHttpModule="true" />
    <location path="WithoutNeatUpload.aspx">
        <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008"
            useHttpModule="false" />
	</location>
</configuration>
