<?xml version="1.0"?>
<configuration>
    <!-- Use NeatUpload's UploadHttpModule for all tests pages except 
         WithoutNeatUpload.aspx. -->
    <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008" useHttpModule="true">
    </neatUpload>
    <location path="WithoutNeatUpload.aspx">
        <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008" useHttpModule="false" />
    </location>
    <!-- For the Test.aspx page, use the SessionBasedUploadStateStoreProvider 
         so that the most complex configuration will be tested. -->
    <location path="Test.aspx">
        <neatUpload xmlns="http://www.brettle.com/neatupload/config/2008" defaultStateStoreProvider="SessionBasedUploadStateStoreProvider">
            <providers>
                <add name="SessionBasedUploadStateStoreProvider" type="Brettle.Web.NeatUpload.SessionBasedUploadStateStoreProvider, Brettle.Web.NeatUpload" />
            </providers>
        </neatUpload>
    </location>
</configuration>